.courseCard {
  padding: 24px;
  width: 100%;
  @include flex-column;
  row-gap: 16px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(3px);
  box-shadow: 0px 12px 37px rgba(226, 228, 227, 0.45);
  border-radius: 24px;
  &:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 12px 37px rgba(226, 228, 227, 0.6);
    transform: scale(1.05);
    transition: all 0.2s ease;
  }

  .cardActions {
    width: 100%;
    @include flex-between;
    .cardActionBtn {
      width: 30px;
      height: 30px;
      display: block;
      @include flex-center;
      border-radius: 50%;
      background: $white;
      cursor: pointer;
    }
  }

  .cardContent {
    @include flex-column;
    color: $text;

    .cardStats {
      margin: 18px 0;
      @include flex-start;
      column-gap: 8px;
    }
    .cardText {
      @include flex-column;
      h2 {
        font-size: 24px;
        font-weight: 600;
      }
      h3 {
        font-size: 18px;
        font-weight: 600;
      }
      h4 {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 500;
      }
      p {
        margin-top: 4px;
        font-size: 14px;
        font-weight: 500;
        color: $secondary-text;
      }
    }
  }

  .cardTags {
    margin-top: auto;
    @include flex-start;
    column-gap: 8px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    
    .tag {
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
      background: $white;
      border-radius: 24px;
    }
  }
}