* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding-bottom: 32px;
  min-height: 100vh;
  max-width: 100vw;
  color: $text;
  overflow-x: hidden;
}

body {
  background: radial-gradient(
    circle at 100% 40%,
    #ECDEA2 0%,
    #E3E5E4 90%,
    #E3E5E4 100%
  );
}

a,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
  border: none;
  outline: none;
}

button,
button:focus,
button:active,
button:visited {
  color: inherit;
  text-decoration: none;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

// Loader
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid $yellow;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Loading overlay
.loading-overlay {
  @include flex-center;
  min-height: 500px;
  grid-column: span 3;
}
