* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  color: $text;
  overflow-x: hidden;
}

body {
  background: radial-gradient(
    circle at 100% 100%,
    #ECDEA2 0%,
    #E3E5E4 90%,
    #E3E5E4 100%
  );
}

a,
a:focus,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
  border: none;
  outline: none;
}

button,
button:focus,
button:active,
button:visited {
  color: inherit;
  text-decoration: none;
  border: none;
  outline: none;
}
