.navbar {
  padding: 16px 24px;
  width: 100%;
  @include flex-between;

  .logo {
    display: flex;
    align-items: center;
    column-gap: 12px;
    h1 {
      font-weight: 500;
    }
  }
}

.userDropdown {
  padding: 8px 12px;
  height: 50px;
  font-size: 16px;
  background: transparent;
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}
