.navbar {
  padding: 16px 24px;
  width: 100%;
  @include flex-between;

  .logo {
    display: flex;
    align-items: center;
    column-gap: 12px;
    h1 {
      font-weight: 500;
    }
  }

  .navList {
    padding: 4px;
    @include flex-center;
    column-gap: 12px;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.4);
    li {
      border-radius: 32px;
      .navItem {
        padding: 12px 16px;
        display: block;
        font-weight: 500;
        border-radius: 32px;
        cursor: pointer;
        transition: background 0.2s ease;
        &:hover {
          background: rgba(255, 255, 255, 0.6);
        }
        &.active {
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}

.userDropdown {
  padding: 8px 12px;
  height: 50px;
  font-size: 16px;
  background: transparent;
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}
