.container {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 32px;

  .lessonContent {
    grid-column: span 2;
    @include flex-column;
    row-gap: 16px;
    a {
      text-decoration: underline;
    }
  }
  .lessonDetails {
    grid-column: span 1;
    img {
      width: 100%;
    }
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
  }
  h2 {
    font-size: 20px;
    font-weight: 600;
  }
  h4 {
    font-size: 16px;
    font-weight: 500;
  }
  h5 {
    font-size: 16px;
    font-weight: 500;
    color: $secondary-text;
    @include flex-center;
  }
  h6 {
    font-size: 14px;
    font-weight: 400;
    color: $secondary-text;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: $secondary-text;
    line-height: 1.5;
  }
  
  .card {
    padding: 24px;
    width: 100%;
    @include flex-column;
    row-gap: 16px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(3px);
    box-shadow: 0px 12px 37px rgba(226, 228, 227, 0.45);
    border-radius: 18px;
    img {
      width: 100%;
      object-fit: contain;
      border-radius: 12px;
    }
    svg {
      height: 18px;
    }
    hr {
      opacity: 0.5;
    }
  }

  .ctaBtn {
    padding: 10px 24px;
    width: 100%;
    @include flex-center;
    column-gap: 8px;
    font-size: 16px;
    font-weight: 600;
    color: $text;
    border-radius: 12px;
    background: hsl(45, 92%, 68%);
    border: 1px solid hsl(45, 92%, 63%);
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
      background: hsl(46, 92%, 71%);
    }
  }

  .lessonsList {
    @include flex-column;
    row-gap: 20px;
    li {
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        transform: translateY(-2px);
      }
    }
    .status {
      float: right;
      @include flex-center;
    }
  }
}